@import 'components/presets';
@import 'components/forms';
@import 'components/buttons';
@import 'components/media';
@import 'components/helper';
@import 'components/loader';

body {
   height: 100vh;
   margin: 0;

   @include center;

   background: url('/aver-core/assets/login-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   background-color: rgb(238, 238, 238);

   .login-container {

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.89);
      width: 100vw;
      height: 70vh;

      box-shadow: 0px 0px 24px #888888;

      border-radius: $default-border-radius;

      .title {
         flex: 1;
         font-size: $font-large;
         background-color: $theme-col;
         border-radius: $default-border-radius $default-border-radius 0 0;
         color: white;
         @include center;

      }

      .form {
         flex: 2;
         @include center;

         flex-direction: column;
         margin: 20px;


         .aver-form-control, input {
            padding: 10px 0px;
            width: 95%;
            background-color: rgba(35, 35, 35, 0.0);
         }

         .aver-error {
            height: 20px;
         }
      }

      @include medium-screen {
         width: 350px;
      }




   }
}