@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font sizes
$font-small: 15px;
$font-large: 30px;

// Colours
$theme-col: rgb(0, 43, 99);;
$error: red;

$default-border-radius: 5px;
* {
   font-family: 'Nunito', sans-serif;
}

.aver-error {
   color: $error;
}